URLError in test_iers_a_dl_mirror (4.0rc1 - Windows 10)

Could be some local problem though.

```
Full Python Version:
3.7.5 (default, Oct 31 2019, 15:18:51) [MSC v.1916 64 bit (AMD64)]

encodings: sys: utf-8, locale: cp1252, filesystem: utf-8
byteorder: little
float info: dig: 15, mant_dig: 15

Package versions:
Numpy: 1.17.3
Scipy: 1.3.1
Matplotlib: 3.1.1
h5py: not available
Pandas: not available
Cython: 0.29.14
Scikit-image: not available
asdf: not available
astropy-helpers: 4.0.rc1

Using Astropy options: remote_data: any.

plugins: arraydiff-0.3, astropy-header-0.1.1, doctestplus-0.5.0, openfiles-0.4.0, remotedata-0.3.2

________________________________________________ test_iers_a_dl_mirror ________________________________________________

self = <urllib.request.HTTPSHandler object at 0x0000018BEE72D448>, http_class = <class 'http.client.HTTPSConnection'>
req = <urllib.request.Request object at 0x0000018BF2EAC448>, http_conn_args = {'check_hostname': None, 'context': None}
host = 'datacenter.iers.org', h = <http.client.HTTPSConnection object at 0x0000018BF5CCFF08>

    def do_open(self, http_class, req, **http_conn_args):
        """Return an HTTPResponse object for the request, using http_class.

        http_class must implement the HTTPConnection API from http.client.
        """
        host = req.host
        if not host:
            raise URLError('no host given')

        # will parse host:port
        h = http_class(host, timeout=req.timeout, **http_conn_args)
        h.set_debuglevel(self._debuglevel)

        headers = dict(req.unredirected_hdrs)
        headers.update({k: v for k, v in req.headers.items()
                        if k not in headers})

        # TODO(jhylton): Should this be redesigned to handle
        # persistent connections?

        # We want to make an HTTP/1.1 request, but the addinfourl
        # class isn't prepared to deal with a persistent connection.
        # It will try to read all remaining data from the socket,
        # which will block while the server waits for the next request.
        # So make sure the connection gets closed after the (only)
        # request.
        headers["Connection"] = "close"
        headers = {name.title(): val for name, val in headers.items()}

        if req._tunnel_host:
            tunnel_headers = {}
            proxy_auth_hdr = "Proxy-Authorization"
            if proxy_auth_hdr in headers:
                tunnel_headers[proxy_auth_hdr] = headers[proxy_auth_hdr]
                # Proxy-Authorization should not be sent to origin
                # server.
                del headers[proxy_auth_hdr]
            h.set_tunnel(req._tunnel_host, headers=tunnel_headers)

        try:
            try:
                h.request(req.get_method(), req.selector, req.data, headers,
>                         encode_chunked=req.has_header('Transfer-encoding'))

...\conda\envs\atest\lib\urllib\request.py:1317:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x0000018BF5CCFF08>, method = 'GET', url = '/data/9/finals2000A.all'
body = None
headers = {'Accept': '*/*', 'Connection': 'close', 'Host': 'datacenter.iers.org', 'User-Agent': 'astropy/iers'}

    def request(self, method, url, body=None, headers={}, *,
                encode_chunked=False):
        """Send a complete request to the server."""
>       self._send_request(method, url, body, headers, encode_chunked)

...\conda\envs\atest\lib\http\client.py:1252:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x0000018BF5CCFF08>, method = 'GET', url = '/data/9/finals2000A.all'
body = None
headers = {'Accept': '*/*', 'Connection': 'close', 'Host': 'datacenter.iers.org', 'User-Agent': 'astropy/iers'}
encode_chunked = False

    def _send_request(self, method, url, body, headers, encode_chunked):
        # Honor explicitly requested Host: and Accept-Encoding: headers.
        header_names = frozenset(k.lower() for k in headers)
        skips = {}
        if 'host' in header_names:
            skips['skip_host'] = 1
        if 'accept-encoding' in header_names:
            skips['skip_accept_encoding'] = 1

        self.putrequest(method, url, **skips)

        # chunked encoding will happen if HTTP/1.1 is used and either
        # the caller passes encode_chunked=True or the following
        # conditions hold:
        # 1. content-length has not been explicitly set
        # 2. the body is a file or iterable, but not a str or bytes-like
        # 3. Transfer-Encoding has NOT been explicitly set by the caller

        if 'content-length' not in header_names:
            # only chunk body if not explicitly set for backwards
            # compatibility, assuming the client code is already handling the
            # chunking
            if 'transfer-encoding' not in header_names:
                # if content-length cannot be automatically determined, fall
                # back to chunked encoding
                encode_chunked = False
                content_length = self._get_content_length(body, method)
                if content_length is None:
                    if body is not None:
                        if self.debuglevel > 0:
                            print('Unable to determine size of %r' % body)
                        encode_chunked = True
                        self.putheader('Transfer-Encoding', 'chunked')
                else:
                    self.putheader('Content-Length', str(content_length))
        else:
            encode_chunked = False

        for hdr, value in headers.items():
            self.putheader(hdr, value)
        if isinstance(body, str):
            # RFC 2616 Section 3.7.1 says that text default has a
            # default charset of iso-8859-1.
            body = _encode(body, 'body')
>       self.endheaders(body, encode_chunked=encode_chunked)

...\conda\envs\atest\lib\http\client.py:1298:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x0000018BF5CCFF08>, message_body = None

    def endheaders(self, message_body=None, *, encode_chunked=False):
        """Indicate that the last header line has been sent to the server.

        This method sends the request to the server.  The optional message_body
        argument can be used to pass a message body associated with the
        request.
        """
        if self.__state == _CS_REQ_STARTED:
            self.__state = _CS_REQ_SENT
        else:
            raise CannotSendHeader()
>       self._send_output(message_body, encode_chunked=encode_chunked)

...\conda\envs\atest\lib\http\client.py:1247:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x0000018BF5CCFF08>, message_body = None, encode_chunked = False

    def _send_output(self, message_body=None, encode_chunked=False):
        """Send the currently buffered request and clear the buffer.

        Appends an extra \\r\\n to the buffer.
        A message_body may be specified, to be appended to the request.
        """
        self._buffer.extend((b"", b""))
        msg = b"\r\n".join(self._buffer)
        del self._buffer[:]
>       self.send(msg)

...\conda\envs\atest\lib\http\client.py:1026:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x0000018BF5CCFF08>
data = b'GET /data/9/finals2000A.all HTTP/1.1\r\nAccept-Encoding: identity\r\nHost: datacenter.iers.org\r\nUser-Agent: astropy/iers\r\nAccept: */*\r\nConnection: close\r\n\r\n'

    def send(self, data):
        """Send `data' to the server.
        ``data`` can be a string object, a bytes object, an array object, a
        file-like object that supports a .read() method, or an iterable object.
        """

        if self.sock is None:
            if self.auto_open:
>               self.connect()

...\conda\envs\atest\lib\http\client.py:966:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPSConnection object at 0x0000018BF5CCFF08>

    def connect(self):
        "Connect to a host on a given (SSL) port."

        super().connect()

        if self._tunnel_host:
            server_hostname = self._tunnel_host
        else:
            server_hostname = self.host

        self.sock = self._context.wrap_socket(self.sock,
>                                             server_hostname=server_hostname)

...\conda\envs\atest\lib\http\client.py:1422:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <ssl.SSLContext object at 0x0000018BF31B1898>
sock = <socket.socket [closed] fd=-1, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=0>
server_side = False, do_handshake_on_connect = True, suppress_ragged_eofs = True
server_hostname = 'datacenter.iers.org', session = None

    def wrap_socket(self, sock, server_side=False,
                    do_handshake_on_connect=True,
                    suppress_ragged_eofs=True,
                    server_hostname=None, session=None):
        # SSLSocket class handles server_hostname encoding before it calls
        # ctx._wrap_socket()
        return self.sslsocket_class._create(
            sock=sock,
            server_side=server_side,
            do_handshake_on_connect=do_handshake_on_connect,
            suppress_ragged_eofs=suppress_ragged_eofs,
            server_hostname=server_hostname,
            context=self,
>           session=session
        )

...\conda\envs\atest\lib\ssl.py:423:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

cls = <class 'ssl.SSLSocket'>
sock = <socket.socket [closed] fd=-1, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=0>
server_side = False, do_handshake_on_connect = True, suppress_ragged_eofs = True
server_hostname = 'datacenter.iers.org', context = <ssl.SSLContext object at 0x0000018BF31B1898>, session = None

    @classmethod
    def _create(cls, sock, server_side=False, do_handshake_on_connect=True,
                suppress_ragged_eofs=True, server_hostname=None,
                context=None, session=None):
        if sock.getsockopt(SOL_SOCKET, SO_TYPE) != SOCK_STREAM:
            raise NotImplementedError("only stream sockets are supported")
        if server_side:
            if server_hostname:
                raise ValueError("server_hostname can only be specified "
                                 "in client mode")
            if session is not None:
                raise ValueError("session can only be specified in "
                                 "client mode")
        if context.check_hostname and not server_hostname:
            raise ValueError("check_hostname requires server_hostname")

        kwargs = dict(
            family=sock.family, type=sock.type, proto=sock.proto,
            fileno=sock.fileno()
        )
        self = cls.__new__(cls, **kwargs)
        super(SSLSocket, self).__init__(**kwargs)
        self.settimeout(sock.gettimeout())
        sock.detach()

        self._context = context
        self._session = session
        self._closed = False
        self._sslobj = None
        self.server_side = server_side
        self.server_hostname = context._encode_hostname(server_hostname)
        self.do_handshake_on_connect = do_handshake_on_connect
        self.suppress_ragged_eofs = suppress_ragged_eofs

        # See if we are connected
        try:
            self.getpeername()
        except OSError as e:
            if e.errno != errno.ENOTCONN:
                raise
            connected = False
        else:
            connected = True

        self._connected = connected
        if connected:
            # create the SSL object
            try:
                self._sslobj = self._context._wrap_socket(
                    self, server_side, self.server_hostname,
                    owner=self, session=self._session,
                )
                if do_handshake_on_connect:
                    timeout = self.gettimeout()
                    if timeout == 0.0:
                        # non-blocking
                        raise ValueError("do_handshake_on_connect should not be specified for non-blocking sockets")
>                   self.do_handshake()

...\conda\envs\atest\lib\ssl.py:870:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <ssl.SSLSocket [closed] fd=-1, family=AddressFamily.AF_INET, type=SocketKind.SOCK_STREAM, proto=0>, block = False

    @_sslcopydoc
    def do_handshake(self, block=False):
        self._check_connected()
        timeout = self.gettimeout()
        try:
            if timeout == 0.0 and block:
                self.settimeout(None)
>           self._sslobj.do_handshake()
E           ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1076)

...\conda\envs\atest\lib\ssl.py:1139: SSLCertVerificationError

During handling of the above exception, another exception occurred:

    @pytest.mark.remote_data
    def test_iers_a_dl_mirror():
>       iersa_tab = iers.IERS_A.open(iers.IERS_A_URL_MIRROR, cache=False)

...\conda\envs\atest\lib\site-packages\astropy\utils\iers\tests\test_iers.py:349:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
...\conda\envs\atest\lib\site-packages\astropy\utils\iers\iers.py:193: in open
    kwargs.update(file=download_file(file, cache=cache))
...\conda\envs\atest\lib\site-packages\astropy\utils\iers\iers.py:97: in download_file
    return utils.data.download_file(*args, **kwargs)
...\conda\envs\atest\lib\site-packages\astropy\utils\data.py:1175: in download_file
    raise errors[sources[0]]
...\conda\envs\atest\lib\site-packages\astropy\utils\data.py:1147: in download_file
    http_headers=http_headers)
...\conda\envs\atest\lib\site-packages\astropy\utils\data.py:979: in _download_file_from_source
    with urllib.request.urlopen(req, timeout=timeout) as remote:
...\conda\envs\atest\lib\urllib\request.py:222: in urlopen
    return opener.open(url, data, timeout)
...\conda\envs\atest\lib\urllib\request.py:525: in open
    response = self._open(req, data)
...\conda\envs\atest\lib\urllib\request.py:543: in _open
    '_open', req)
...\conda\envs\atest\lib\urllib\request.py:503: in _call_chain
    result = func(*args)
...\conda\envs\atest\lib\urllib\request.py:1360: in https_open
    context=self._context, check_hostname=self._check_hostname)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <urllib.request.HTTPSHandler object at 0x0000018BEE72D448>, http_class = <class 'http.client.HTTPSConnection'>
req = <urllib.request.Request object at 0x0000018BF2EAC448>, http_conn_args = {'check_hostname': None, 'context': None}
host = 'datacenter.iers.org', h = <http.client.HTTPSConnection object at 0x0000018BF5CCFF08>

    def do_open(self, http_class, req, **http_conn_args):
        """Return an HTTPResponse object for the request, using http_class.

        http_class must implement the HTTPConnection API from http.client.
        """
        host = req.host
        if not host:
            raise URLError('no host given')

        # will parse host:port
        h = http_class(host, timeout=req.timeout, **http_conn_args)
        h.set_debuglevel(self._debuglevel)

        headers = dict(req.unredirected_hdrs)
        headers.update({k: v for k, v in req.headers.items()
                        if k not in headers})

        # TODO(jhylton): Should this be redesigned to handle
        # persistent connections?

        # We want to make an HTTP/1.1 request, but the addinfourl
        # class isn't prepared to deal with a persistent connection.
        # It will try to read all remaining data from the socket,
        # which will block while the server waits for the next request.
        # So make sure the connection gets closed after the (only)
        # request.
        headers["Connection"] = "close"
        headers = {name.title(): val for name, val in headers.items()}

        if req._tunnel_host:
            tunnel_headers = {}
            proxy_auth_hdr = "Proxy-Authorization"
            if proxy_auth_hdr in headers:
                tunnel_headers[proxy_auth_hdr] = headers[proxy_auth_hdr]
                # Proxy-Authorization should not be sent to origin
                # server.
                del headers[proxy_auth_hdr]
            h.set_tunnel(req._tunnel_host, headers=tunnel_headers)

        try:
            try:
                h.request(req.get_method(), req.selector, req.data, headers,
                          encode_chunked=req.has_header('Transfer-encoding'))
            except OSError as err: # timeout error
>               raise URLError(err)
E               urllib.error.URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:1076)>

...\conda\envs\atest\lib\urllib\request.py:1319: URLError
```

I did not see this error when testing on Windows 10 from USA.

My conda environment (just in case it's the openssl lib):

```
astropy                   4.0rc1                   pypi_0    pypi
atomicwrites              1.3.0                    py37_1
attrs                     19.3.0                     py_0
blas                      1.0                         mkl
ca-certificates           2019.10.16                    0
certifi                   2019.9.11                py37_0
colorama                  0.4.1                    py37_0
cycler                    0.10.0                   py37_0
cython                    0.29.14          py37ha925a31_0
freetype                  2.9.1                ha9979f8_1
icc_rt                    2019.0.0             h0cc432a_1
icu                       58.2                 ha66f8fd_1
importlib_metadata        0.23                     py37_0
intel-openmp              2019.4                      245
jinja2                    2.10.3                     py_0
jpeg                      9b                   hb83a4c4_2
kiwisolver                1.1.0            py37ha925a31_0
libpng                    1.6.37               h2a8f88b_0
markupsafe                1.1.1            py37he774522_0
matplotlib                3.1.1            py37hc8f65d3_0
mkl                       2019.4                      245
mkl-service               2.3.0            py37hb782905_0
mkl_fft                   1.0.15           py37h14836fe_0
mkl_random                1.1.0            py37h675688f_0
more-itertools            7.2.0                    py37_0
numpy                     1.17.3           py37h4ceb530_0
numpy-base                1.17.3           py37hc3f5095_0
openssl                   1.1.1d               he774522_3
packaging                 19.2                       py_0
pathlib2                  2.3.5                    py37_0
pip                       19.3.1                   py37_0
pluggy                    0.13.0                   py37_0
psutil                    5.6.5            py37he774522_0
py                        1.8.0                    py37_0
pyparsing                 2.4.5                      py_0
pyqt                      5.9.2            py37h6538335_2
pytest                    5.2.4                    py37_1
pytest-arraydiff          0.3              py37h39e3cac_0
pytest-astropy            0.6.0                      py_0
pytest-astropy-header     0.1.1                      py_0
pytest-doctestplus        0.5.0                      py_0
pytest-openfiles          0.4.0                      py_0
pytest-remotedata         0.3.2                    py37_0
python                    3.7.5                h8c8aaf0_0
python-dateutil           2.8.1                      py_0
pytz                      2019.3                     py_0
qt                        5.9.7            vc14h73c81de_0
scipy                     1.3.1            py37h29ff71c_0
setuptools                41.6.0                   py37_0
sip                       4.19.8           py37h6538335_0
six                       1.13.0                   py37_0
sqlite                    3.30.1               he774522_0
tornado                   6.0.3            py37he774522_0
vc                        14.1                 h0510ff6_4
vs2015_runtime            14.16.27012          hf0eaf9b_0
wcwidth                   0.1.7                    py37_0
wheel                     0.33.6                   py37_0
wincertstore              0.2                      py37_0
zipp                      0.6.0                      py_0
zlib                      1.2.11               h62dcd97_3
```

My Linux has `openssl` 1.1.1c (from conda-forge) and Windows has 1.1.1d (from defaults). No error on both.

@MSeifert04 , since I don't know how to resolve this, I propose we close it for now. If you see it again in the future consistently, we can revisit?

I still have this problem (just ran the tests to make sure) on two computers (both windows, both conda).

Not sure if we should close this. At some point we probably need to fix this or maybe add a known-error for this in case we figure out what the problem is but cannot resolve it.

Okay, I am removing the milestone but will keep it open.

Hi all, I'm currently in the process of fixing this error as this is error is popping up quite frequently on Windows. It appears that the root certificate store on Windows is rather unreliable if the Windows CryptoAPI is not used to access it as it will only have a very limited number of "core" root certificates and will load more from Microsoft if the access is through the Windows Crypto API. A workaround which is used by the popular requests Python module is to ship a separate set of root CA certificates which is extracted from Mozilla and available as "certifi" package and is already a transitive dependency for astropy.  The only trick which I'm about to implement is to use this alternative CA store for verifying the connection. (Also turning on the remote-data test on travis for windows might have shown the error on the CI as well).

I never managed to reproduce this on my Windows (I think I tried this on like 2-3 machines). Can you please give more context for "popping up quite frequently"? Is it on one machine or multiple machines? What Windows version(s)? Thank you.

@pllim the easiest way to trigger this for me is just removing the (automatically fetched) "t-telesec globalroot class 2" CA certificate in the certmanager application in windows as this is the root certificaten for datacenter.iers.org (in western Europe). 

This is also the default state of a fresh Windows 10 installation. If you then run astropy and it tries to fetch the iers dataset from https://datacenter.iers.org/ it will fail due to a "self-signed" certificate. 

By using Internet Explorer  to visit https://datacenter.iers.org/ first the root certificate for this site is fetched from a trusted microsoft server and stored in the system CA certificate store. Subsequent runs of AstroPy will now succeed until this certificate is expired or purged by Windows.




Yup yup, I see it now in #10448 . I must have somehow visited the site before on all my machines. 