TST: 3.0RC1 failures on local machine

Full log:
[astropy_rc_test.txt](https://github.com/astropy/astropy/files/1616724/astropy_rc_test.txt)

First failure might just be transient remote data access problem. The second one might be just me (xref #6309). Feel free to close if these are irrelevant.

```
platform linux -- Python 3.6.3, pytest-3.2.1, py-1.4.34, pluggy-0.4.0

Running tests with Astropy version 3.0rc1.
Running tests in .../lib/python3.6/site-packages/astropy.

Date: 2018-01-09T15:51:59

Platform: Linux-3.10.0-693.11.1.el7.x86_64-x86_64-with-redhat-7.4-Maipo

Executable: .../bin/python

Full Python Version:
3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 17:14:46)
[GCC 7.2.0]

encodings: sys: utf-8, locale: UTF-8, filesystem: utf-8
byteorder: little
float info: dig: 15, mant_dig: 15

Numpy: 1.13.3
Scipy: 0.19.1
Matplotlib: 2.0.2
h5py: 2.7.0
Pandas: 0.20.3
Cython: 0.26.1
Using Astropy options: remote_data: any.

rootdir: .../lib/python3.6/site-packages/astropy, inifile:
plugins: xdist-1.17.1, remotedata-0.2.0, openfiles-0.1.0, mpl-0.8, flake8-0.8.1, doctestplus-0.1.1
collected 10374 items / 7 skipped
```

```
=================================== FAILURES ===================================
_______________________________ test_of_address ________________________________

    @pytest.mark.remote_data
    def test_of_address():
        # no match
        with pytest.raises(NameResolveError):
            EarthLocation.of_address("lkjasdflkja")

        # just a location
        loc = EarthLocation.of_address("New York, NY")
        assert quantity_allclose(loc.lat, 40.7128*u.degree)
        assert quantity_allclose(loc.lon, -74.0059*u.degree)
        assert np.allclose(loc.height.value, 0.)

        # a location and height
>       loc = EarthLocation.of_address("New York, NY", get_height=True)

.../lib/python3.6/site-packages/astropy/coordinates/tests/test_earth.py:300:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
.../lib/python3.6/site-packages/astropy/coordinates/earth.py:407: in of_address
    ele_result = _get_json_result(ele_url, err_str=err_str)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

url = 'https://maps.googleapis.com/maps/api/elevation/json?locations=40.71277530%2C-74.00597280'
err_str = "Unable to retrieve elevation for address 'New York, NY'; {msg}"

    def _get_json_result(url, err_str):
        # need to do this here to prevent a series of complicated circular imports
        from .name_resolve import NameResolveError
        try:
            # Retrieve JSON response from Google maps API
            resp = urllib.request.urlopen(url, timeout=data.conf.remote_timeout)
            resp_data = json.loads(resp.read().decode('utf8'))

        except urllib.error.URLError as e:
            # This catches a timeout error, see:
            #   http://stackoverflow.com/questions/2712524/handling-urllib2s-timeout-python
            if isinstance(e.reason, socket.timeout):
                raise NameResolveError(err_str.format(msg="connection timed out"))
            else:
                raise NameResolveError(err_str.format(msg=e.reason))

        except socket.timeout:
            # There are some cases where urllib2 does not catch socket.timeout
            # especially while receiving response data on an already previously
            # working request
            raise NameResolveError(err_str.format(msg="connection timed out"))

        results = resp_data.get('results', [])

        if not results:
>           raise NameResolveError(err_str.format(msg="no results returned"))
E           astropy.coordinates.name_resolve.NameResolveError: Unable to retrieve elevation for address 'New York, NY'; no results returned

.../lib/python3.6/site-packages/astropy/coordinates/earth.py:79: NameResolveError
_________________________ test_format_coord_regression _________________________

tmpdir = local('/tmp/pytest-of-lim/pytest-18/test_format_coord_regression0')

    def test_format_coord_regression(tmpdir):
        # Regression test for a bug that meant that if format_coord was called by
        # Matplotlib before the axes were drawn, an error occurred.
        fig = plt.figure(figsize=(3, 3))
        ax = WCSAxes(fig, [0.1, 0.1, 0.8, 0.8])
        fig.add_axes(ax)
>       assert ax.format_coord(10, 10) == ""
E       AssertionError: assert '10.0 10.0 (world)' == ''
E         - 10.0 10.0 (world)

.../lib/python3.6/site-packages/astropy/visualization/wcsaxes/tests/test_misc.py:34: AssertionError
```

```
2 failed, 10234 passed, 82 skipped, 61 xfailed, 2 xpassed, 2316 warnings in 201.05 seconds
```

Link to RC testing wiki: https://github.com/astropy/astropy/wiki/v3.0-RC-testing

Tried latest `numpy` and `scipy` releases and got 2 *extra* failures below (first one also seen in #7051, second one might be transient). Full log: 
[astropy_rc_test2.txt](https://github.com/astropy/astropy/files/1619308/astropy_rc_test2.txt)

```
platform linux -- Python 3.6.3, pytest-3.2.1, py-1.4.34, pluggy-0.4.0

Running tests with Astropy version 3.0rc1.
Running tests in .../lib/python3.6/site-packages/astropy.

Date: 2018-01-10T09:45:00

Platform: Linux-3.10.0-693.11.1.el7.x86_64-x86_64-with-redhat-7.4-Maipo

Executable: .../bin/python

Full Python Version:
3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 17:14:46)
[GCC 7.2.0]

encodings: sys: utf-8, locale: UTF-8, filesystem: utf-8
byteorder: little
float info: dig: 15, mant_dig: 15

Numpy: 1.14.0
Scipy: 1.0.0
Matplotlib: 2.1.1
h5py: 2.7.0
Pandas: 0.20.3
Cython: 0.26.1
Using Astropy options: remote_data: any.

rootdir: .../lib/python3.6/site-packages/astropy, inifile:
plugins: xdist-1.17.1, remotedata-0.2.0, openfiles-0.1.0, mpl-0.8, flake8-0.8.1, doctestplus-0.1.1
collected 10374 items / 7 skipped
```

```
___________________ test_transform_to_nonscalar_nodata_frame ___________________

    def test_transform_to_nonscalar_nodata_frame():
        # https://github.com/astropy/astropy/pull/5254#issuecomment-241592353
        from ..builtin_frames import ICRS, FK5
        from ...time import Time
        times = Time('2016-08-23') + np.linspace(0, 10, 12)*u.day
        coo1 = ICRS(ra=[[0.], [10.], [20.]]*u.deg,
                    dec=[[-30.], [30.], [60.]]*u.deg)
>       coo2 = coo1.transform_to(FK5(equinox=times))

.../lib/python3.6/site-packages/astropy/coordinates/tests/test_frames.py:474:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
.../lib/python3.6/site-packages/astropy/coordinates/baseframe.py:1109: in transform_to
    return trans(self, new_frame)
.../lib/python3.6/site-packages/astropy/coordinates/transformations.py:1376: in __call__
    curr_coord = t(curr_coord, curr_toframe)
.../lib/python3.6/site-packages/astropy/coordinates/transformations.py:1295: in __call__
    newrep = self._apply_transform(fromcoord, M, None)
.../lib/python3.6/site-packages/astropy/coordinates/transformations.py:1070: in _apply_transform
    rep = rep.transform(matrix)
.../lib/python3.6/site-packages/astropy/coordinates/representation.py:1128: in transform
    newxyz = np.einsum('...ij,j...->i...', matrix, oldxyz.value)
.../lib/python3.6/site-packages/numpy/core/einsumfunc.py:1087: in einsum
    einsum_call=True)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

operands = [array([[[ 9.99991768e-01, -3.72150852e-03, -1.61702093e-03],
        [ 3.72150871e-03,  9.99993075e-01, -2.89170921e-...        [ 0.15038373],
        [ 0.17101007]],

       [[-0.5       ],
        [ 0.5       ],
        [ 0.8660254 ]]])]
kwargs = {}, unknown_kwargs = [], path_type = 'greedy', memory_limit = None
einsum_call_arg = True, input_subscripts = 'Yij,jDY', output_subscript = 'iDY'
subscripts = 'Yij,jDY->iDY', input_list = ['Yij', 'jDY']
input_sets = [{'Y', 'i', 'j'}, {'D', 'Y', 'j'}], output_set = {'D', 'Y', 'i'}

    def einsum_path(*operands, **kwargs):
        ...
            for cnum, char in enumerate(term):
                dim = sh[cnum]
                if char in dimension_dict.keys():
                    if dimension_dict[char] != dim:
                        raise ValueError("Size of label '%s' for operand %d does "
>                                        "not match previous terms.", char, tnum)
E                       ValueError: ("Size of label '%s' for operand %d does not match previous terms.", 'Y', 1)

.../lib/python3.6/site-packages/numpy/core/einsumfunc.py:710: ValueError
```

```
_______________________________ test_api_lookup ________________________________

self = <urllib.request.HTTPHandler object at 0x7f4efb020860>
http_class = <class 'http.client.HTTPConnection'>
req = <urllib.request.Request object at 0x7f4efcf64550>, http_conn_args = {}
host = 'astropy.readthedocs.io'
h = <http.client.HTTPConnection object at 0x7f4ec519a128>

    def do_open(self, http_class, req, **http_conn_args):
        ...
        try:
            try:
                h.request(req.get_method(), req.selector, req.data, headers,
>                         encode_chunked=req.has_header('Transfer-encoding'))

.../lib/python3.6/urllib/request.py:1318:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7f4ec519a128>, method = 'GET'
url = '/en/latest/objects.inv', body = None
headers = {'Connection': 'close', 'Host': 'astropy.readthedocs.io', 'User-Agent': 'Python-urllib/3.6'}

    def request(self, method, url, body=None, headers={}, *,
                encode_chunked=False):
        """Send a complete request to the server."""
>       self._send_request(method, url, body, headers, encode_chunked)

.../lib/python3.6/http/client.py:1239:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7f4ec519a128>, method = 'GET'
url = '/en/latest/objects.inv', body = None
headers = {'Connection': 'close', 'Host': 'astropy.readthedocs.io', 'User-Agent': 'Python-urllib/3.6'}
encode_chunked = False

    def _send_request(self, method, url, body, headers, encode_chunked):
        ...
        if isinstance(body, str):
            # RFC 2616 Section 3.7.1 says that text default has a
            # default charset of iso-8859-1.
            body = _encode(body, 'body')
>       self.endheaders(body, encode_chunked=encode_chunked)

.../lib/python3.6/http/client.py:1285:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7f4ec519a128>
message_body = None

    def endheaders(self, message_body=None, *, encode_chunked=False):
        """Indicate that the last header line has been sent to the server.

            This method sends the request to the server.  The optional message_body
            argument can be used to pass a message body associated with the
            request.
            """
        if self.__state == _CS_REQ_STARTED:
            self.__state = _CS_REQ_SENT
        else:
            raise CannotSendHeader()
>       self._send_output(message_body, encode_chunked=encode_chunked)

.../lib/python3.6/http/client.py:1234:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7f4ec519a128>
message_body = None, encode_chunked = False

    def _send_output(self, message_body=None, encode_chunked=False):
        """Send the currently buffered request and clear the buffer.

            Appends an extra \\r\\n to the buffer.
            A message_body may be specified, to be appended to the request.
            """
        self._buffer.extend((b"", b""))
        msg = b"\r\n".join(self._buffer)
        del self._buffer[:]
>       self.send(msg)

.../lib/python3.6/http/client.py:1026:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7f4ec519a128>
data = b'GET /en/latest/objects.inv HTTP/1.1\r\nAccept-Encoding: identity\r\nHost: astropy.readthedocs.io\r\nUser-Agent: Python-urllib/3.6\r\nConnection: close\r\n\r\n'

    def send(self, data):
        """Send `data' to the server.
            ``data`` can be a string object, a bytes object, an array object, a
            file-like object that supports a .read() method, or an iterable object.
            """

        if self.sock is None:
            if self.auto_open:
>               self.connect()

.../lib/python3.6/http/client.py:964:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7f4ec519a128>

    def connect(self):
        """Connect to the host and port specified in __init__."""
        self.sock = self._create_connection(
>           (self.host,self.port), self.timeout, self.source_address)

.../lib/python3.6/http/client.py:936:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

address = ('astropy.readthedocs.io', 80), timeout = 3, source_address = None

    def create_connection(address, timeout=_GLOBAL_DEFAULT_TIMEOUT,
                          source_address=None):
        ...
        if err is not None:
>           raise err

.../lib/python3.6/socket.py:724:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

address = ('astropy.readthedocs.io', 80), timeout = 3, source_address = None

    def create_connection(address, timeout=_GLOBAL_DEFAULT_TIMEOUT,
                          source_address=None):
        ...
            try:
                sock = socket(af, socktype, proto)
                if timeout is not _GLOBAL_DEFAULT_TIMEOUT:
                    sock.settimeout(timeout)
                if source_address:
                    sock.bind(source_address)
>               sock.connect(sa)
E               socket.timeout: timed out

.../lib/python3.6/socket.py:713: timeout

During handling of the above exception, another exception occurred:

    @pytest.mark.remote_data
    def test_api_lookup():
>       strurl = misc.find_api_page('astropy.utils.misc', 'dev', False, timeout=3)

.../lib/python3.6/site-packages/astropy/utils/tests/test_misc.py:30:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
.../lib/python3.6/site-packages/astropy/utils/misc.py:235: in find_api_page
    uf = urllib.request.urlopen(baseurl + 'objects.inv', timeout=timeout)
.../lib/python3.6/urllib/request.py:223: in urlopen
    return opener.open(url, data, timeout)
.../lib/python3.6/urllib/request.py:532: in open
    response = meth(req, response)
.../lib/python3.6/urllib/request.py:642: in http_response
    'http', request, response, code, msg, hdrs)
.../lib/python3.6/urllib/request.py:564: in error
    result = self._call_chain(*args)
.../lib/python3.6/urllib/request.py:504: in _call_chain
    result = func(*args)
.../lib/python3.6/urllib/request.py:756: in http_error_302
    return self.parent.open(new, timeout=req.timeout)
.../lib/python3.6/urllib/request.py:532: in open
    response = meth(req, response)
.../lib/python3.6/urllib/request.py:642: in http_response
    'http', request, response, code, msg, hdrs)
.../lib/python3.6/urllib/request.py:564: in error
    result = self._call_chain(*args)
.../lib/python3.6/urllib/request.py:504: in _call_chain
    result = func(*args)
.../lib/python3.6/urllib/request.py:756: in http_error_302
    return self.parent.open(new, timeout=req.timeout)
.../lib/python3.6/urllib/request.py:526: in open
    response = self._open(req, data)
.../lib/python3.6/urllib/request.py:544: in _open
    '_open', req)
.../lib/python3.6/urllib/request.py:504: in _call_chain
    result = func(*args)
.../lib/python3.6/urllib/request.py:1346: in http_open
    return self.do_open(http.client.HTTPConnection, req)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <urllib.request.HTTPHandler object at 0x7f4efb020860>
http_class = <class 'http.client.HTTPConnection'>
req = <urllib.request.Request object at 0x7f4efcf64550>, http_conn_args = {}
host = 'astropy.readthedocs.io'
h = <http.client.HTTPConnection object at 0x7f4ec519a128>

    def do_open(self, http_class, req, **http_conn_args):
        ...
            try:
                h.request(req.get_method(), req.selector, req.data, headers,
                          encode_chunked=req.has_header('Transfer-encoding'))
            except OSError as err: # timeout error
>               raise URLError(err)
E               urllib.error.URLError: <urlopen error timed out>

.../lib/python3.6/urllib/request.py:1320: URLError
```

```
4 failed, 10232 passed, 82 skipped, 61 xfailed, 2 xpassed, 2312 warnings in 274.69 seconds
```

Found 340 failures on Windows 7; Maybe something is wrong with my env setup. Full log: 
[astropy_rc_wintest.txt](https://github.com/astropy/astropy/files/1620074/astropy_rc_wintest.txt)


@pllim - here's an extract of one of your failures on Windows:

```
    @pytest.mark.parametrize('model', MODELS)
    def test_models_bounding_box(model):
    
        # In some cases, having units in parameters caused bounding_box to break,
        # so this is to ensure that it works correctly.
    
        if not HAS_SCIPY and model['class'] in SCIPY_MODELS:
            pytest.skip()
    
        m = model['class'](**model['parameters'])
    
>       if model['bounding_box']:

...\astropy\modeling\tests\test_models_quantities.py:285: 
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <Quantity [-5.6, 14.4] um>

    def __bool__(self):
        """Quantities should always be treated as non-False; there is too much
            potential for ambiguity otherwise.
            """
        warnings.warn('The truth value of a Quantity is ambiguous. '
                      'In the future this will raise a ValueError.',
>                     AstropyDeprecationWarning)
E       astropy.utils.exceptions.AstropyDeprecationWarning: The truth value of a Quantity is ambiguous. In the future this will raise a ValueError.

...\astropy\units\quantity.py:1201: AstropyDeprecationWarning
```

I think we aren't supposed to raise exceptions for deprecation warnings based on ``conftest.py``:

```
enable_deprecations_as_exceptions(
    include_astropy_deprecations=False,
    # This is a workaround for the OpenSSL deprecation warning that comes from
    # the `requests` module. It only appears when both asdf and sphinx are
    # installed. This can be removed once pyopenssl 1.7.20+ is released.
    modules_to_ignore_on_import=['requests'])
```

so maybe that machinery is broken? Having said that, maybe we should actually make this ``True`` by default? (otherwise users will be getting deprecation warnings when using astropy functions that use deprecated functionality)

@astrofrog , let me know if you see the same failures on your Windows machine. I can't tell if my env was weird or this is a real Windows bug. Thanks for investigating!

I can confirm that I see the ``test_transform_to_nonscalar_nodata_frame`` failure on Windows (which I guess is https://github.com/astropy/astropy/issues/7051). That is the only failure I get on Windows.

Critical ones are addressed, so closing.